<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>"판사" 리뷰-메인</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="top">
    <img src="{{ url_for('static', filename='top-banner.jpeg') }}">
  </div>

  <div class="blue-bar">
    판/검사 리뷰 남기기
  </div>

  <h1 class="ranking-title">
    현재 판/검사 평점 순위
  </h1>
  
  <div class="bottom">
    <div class="board">

      <div class="card">
        <h2>2등</h2>
        {% if second.has_photo %}
        <img class="profile-img" src="{{ url_for('photo', status=2) }}">
        {% endif %}
        <div><b>{{ second.name }}</b></div>
        <div class="field">소속: {{ second.affiliation }}</div>
        <div class="field">경력: {{ second.career }}</div>
        <div class="field">사건: {{ second.incident }}</div>
      </div>

      <div class="card first">
        <h2>1등</h2>
        {% if first.has_photo %}
        <img class="profile-img" src="{{ url_for('photo', status=1) }}">
        {% endif %}
        <div><b>{{ first.name }}</b></div>
        <div class="field">소속: {{ first.affiliation }}</div>
        <div class="field">경력: {{ first.career }}</div>
        <div class="field">사건: {{ first.incident }}</div>
      </div>

      <div class="card">
        <h2>3등</h2>
        {% if third.has_photo %}
        <img class="profile-img" src="{{ url_for('photo', status=3) }}">
        {% endif %}
        <div><b>{{ third.name }}</b></div>
        <div class="field">소속: {{ third.affiliation }}</div>
        <div class="field">경력: {{ third.career }}</div>
        <div class="field">사건: {{ third.incident }}</div>
      </div>

    </div>
  </div>

</body>
</html>
